.App {
  text-align: center;
  background-color: #00A4BD;

}

.poke-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poke:hover{
  color: #FFFFFF;
  background-color: #2ec6dd;
  width: 110%;
  height: 110%;
}

main{
  background-color: #00A4BD;
}

.countour{
  background-color: #fafafa77;
  width: 100%;
  grid-column: 2;
  border-radius: 2.5rem;
  margin-top: 2.5%;
}

.detail{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.btn-float-left{
	float: left;	
  margin-left: 10%;
  margin-top: 2.5%;
  border-radius: 10rem;
}

.types{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.type{
  margin: 1%;
}

.stats{
  display: grid;
}