.App {
  text-align: center;
  background-color: #00A4BD;

}

.poke-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.poke:hover{
  color: #FFFFFF;
  background-color: #2ec6dd;
  width: 105%;
  height: 110%;
  cursor: pointer;
}

main{
  background-color: #00A4BD;
}

.countour{
  background-color: #fafafa77;
  width: 300%;
  /* grid-column: 2; */
  border-radius: 1.5rem;
  margin-top: 2.5%;
  margin-left: 48%;
  border: double 3px black;
}



.detail{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.btn-float-left{
	float: left;	
  margin-left: 10%;
  margin-top: 2.5%;
  border-radius: 10rem;
}

.btn-float-left:hover{
  cursor: pointer;
}

.types{
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
  border: 1px black;
}

.type{
  margin: 2%;
}

.stats{
  display: grid;
}

.stat{
  margin-top: -2%;
  margin-bottom: -1%;
}

.bottom{
  display: inline;
}


.icon{
  margin-left: 1%;
  margin-right: 1%;
  height: 10%;
  color: black;
  width: 4%;
}

.text-input{
  border: none;
  border-bottom: 1px solid (0,0,0,2);
  transition: all 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.submit{
  border-radius: 0 1rem 1rem 0;
  border-color: #FFFFFF;
  height: 50%;
  size: 10px;
}

.select{
  text-align: left;
  margin-left: 2%;
  border-radius: .5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

option:hover{
  background-color: rgba(187, 35, 35, 0.281);
}
.filter{
  display: flex;
  align-content: flex-start;
}

.title{
  width: 30%;
}

.form{
  width: 50%;
  align-self: center;
  margin-left: 25%;
}

footer{
  background-color: #6caac7;
}